[2018-12-23 17:52] minooei opened #1 "not working"

[2018-12-23 18:06] #1 closed

[2019-01-16 04:14] syaifulnizamyahya opened #2 "Are you planning to add OpenCV 4.0.1?"
Title.

[2019-01-22 08:14] sellmair commented on #2
Trying to add it today 👍

[2019-01-22 08:47] sellmair commented on #2
Should be online now ☺️

[2019-01-22 08:53] #2 closed

[2019-02-11 10:05] netcat88 opened #3 "OpenCV 3.4.5 and targetSDK"
Hi!

Are you guys planning to update 3.4.4 to 3.4.5?
Do 3.4.4 + contrib and 4.0.1 support Pie?

Thanks! :)

[2019-02-20 09:51] sellmair commented on #3
An update to 3.4.5 only planned if someone would request this.
As to 3.4.4 + contrib: This is working on Pie 👍
I did not yet test 4.0.1 on Pie, but I see no reason, why it would not work!

[2019-03-05 14:54] #3 closed

[2019-04-03 14:48] MarvynORourke opened #4 "Android Face crash"
Hello !  I'm trying to make an android application with opencv that is able to recognize a person's face in an image, so I'm trying to use the FacemarkKazemi function of opencv. My problem is that as soon as I switch to class initialization, my application crashes instantly.

You can find the code I'm trying to run here :

https://github.com/opencv/opencv_contrib/blob/master/modules/face/samples/F

[2019-04-04 16:34] #4 closed

[2019-04-08 23:20] jacobg opened #5 "face module missing from 4.0.1?"
It looks like the face module is missing from the 4.0.1 package. Here is the Javadoc for it:
https://docs.opencv.org/4.0.1/javadoc/org/opencv/face/Face.html

Am I misunderstanding something?

[2019-04-08 23:31] jacobg commented on #5
It looks like the face module is in a separate opencv_contrib project for "extra modules":
https://github.com/opencv/opencv_contrib/tree/master/modules/face

It would be nice to have a maven artifact for that.

[2019-04-09 00:37] jacobg commented on #5
Looks like there's an opencv contrib on maven for 3.4.4:
https://mvnrepository.com/artifact/com.quickbirdstudios/opencv/3.4.4-contrib.

Would be nice to build one for 4.0.1.

[2019-04-26 14:28] talregev opened #6 "Add android x_86 and change minSdkVersion"
Why set [minSdkVersion][1] to 21?
Can you set it to 10 or without? because I want to support older devices.
Can you add android x_86  (32 and 64) binary also to support full devices?
Thanks!

[1]:https://github.com/quickbirdstudios/opencv-android/blob/master/opencv4_0_1/build.gradle#L38

[2019-04-28 10:35] anilsathyan7 opened #7 "FP 16 support in opencv 4.0.1"
Does the 4.0.1 version of opencv support 'CV_16F' formats for Mat objects.? The 4.0 alpha version seems to support this feature (https://opencv.org/opencv-4-0-alpha/). However this 4.0.1 java version does not seem to support this functionality, in general.

[2019-05-02 07:57] sellmair commented on #6
Hey @talregev
it seems like OpenCV decided to bump the minSdkVersion on that one. I suggest you making a ticket on their side, since this repository is just building/packaging and distributing their sources, without changes!
Otherwise, version 3.4.4 has a minSdkVersion of 14. Currently we are also using this version internally for a big project.

I will have a look at the targets (x_86) soon and w

[2019-05-02 08:02] sellmair commented on #7
Hey @anilsathyan7
this repository is just building and packaging the OpenCV Android SDK. Maybe consider asking the question in the [OpenCV Forum](https://answers.opencv.org/questions/).
Other than that: There are traces in version 4.0.1 of `CV_16F` in the native code, but none of them in the Java code.

[2019-05-02 08:02] #7 closed

[2019-05-02 08:04] sellmair commented on #5
@jacobg We are planning to build and package version 4.1.0 in the next month. Would this version work for you?

[2019-05-02 08:04] talregev commented on #6
Thanks for your respond. I download opencv sdk for android, and they already compile all android version (arm, arm64, x86, x86_64). include share object (.so) and static (.a) library.
I change the java to opencv,
I write a build.gradle file,  and copy the (.so) to libs and add it as jni files.
If you want I can share you with my work.
I wish there will be an official (or good unofficial) maven rep

[2019-05-02 08:08] sellmair commented on #6
Sure just send as a PR or a link to your repository!

[2019-05-02 08:10] sellmair commented on #6
Also, I share your wish. I think the infrastructure of OpenCV is not good at all. I do not get, why they are not pushing those artifacts to a repository!

[2019-05-02 08:14] talregev commented on #6
It part from a project I was write.
I am the author of [cv_bridge java][2]. (convert from ROS messages to opencv images and vice versa).

I am not sure why. there already [ticket][1] open on their repo.
It really easy to create the android library after you download the sdk.

[1]:https://github.com/opencv/opencv/issues/4588
[2]:https://github.com/talregev/android_cv_bridge

[2019-05-02 08:16] talregev commented on #6
I just look and i see the libs folder is missing. I will correct it.

[2019-05-02 08:47] talregev commented on #6
I upload the missing .so files into libs folder, under opencv folder.

[2019-05-02 10:42] jacobg commented on #5
@sellmair That will be great! Thanks so much!

[2019-05-02 23:00] eaaliprantis opened #8 "Possible to create a 3.4.5 build?"
Good Evening,

I kept trying to create a 3.4.5 Gradle build and I have been having trouble with it (https://github.com/eaaliprantis/OpenCV-Gradle ) and I have been struggling to get it to compile in my project.

Is there any way that you guys can add 3.4.5 into the build and/or give assistance to set up for 3.4.5?

Thank you very much <3

[2019-05-06 13:06] sellmair commented on #8
Version 3.4.5 should be online now for you! ☺️

[2019-05-06 13:06] #8 closed

[2019-05-06 13:40] sellmair commented on #5
Version 4.1.0 is now build and pushed to jCenter!
We are trying to build it with contrib packages somewhere next week 👍

[2019-05-08 17:33] giandifra opened #9 "opencv 4.1.0 + contrib?"
Can you add opencv 4.1.0 + contrib modules? thanks

[2019-05-10 21:32] srugea commented on #5
are you planning to also introduce Stitcher? it seems to be in the main package
thank you

[2019-05-10 21:37] sellmair commented on #9
Working on it. I think we can build it in the next weeks 👍

[2019-05-13 09:59] giandifra opened #10 "DetectorParameters is already defined in this compilation unit"
Hi,
I'm using opencv:3.4.4-contrib and i have a error when i use DetectorParameters.create()

[code]
Can this error linked to "DetectorParameters is already defined in this compilation unit" problem ?

<img width="622" alt="Schermata 2019-05-13 alle 12 00 37" src="https://user-images.githubusercontent.com/44344581/57613297-cb5d7080-7576-11e9-9d03-488a7c1d6d55.png">

Thanks

[2019-06-21 18:49] naitianz0222 opened #11 "Cannot use sift algorithm"
I try to use sift algorithm in the opencv 3.4.4 with contribution packages.
"implementation 'com.quickbirdstudios:opencv:3.4.4-contrib'"
But it report error:
E/cv::error(): OpenCV(3.4.4) Error: The function/feature is not implemented (This algorithm is patented and is excluded in this configuration; Set OPENCV_ENABLE_NONFREE CMake option and rebuild the library) in static cv::Ptr<cv::xfeatures2d::

[2019-06-25 13:33] jacobg commented on #9
Hi any update?

[2019-06-26 11:47] znicolasrs commented on #11
I'm not one of the creators and I don't know the build tools they used, but if they used cmake to generate this opencv's package for android, there is an option (-DOPENCV_ENABLE_NONFREE=ON) to enable the nonfree algorithms like sift and surf, if this option is not set, these algorithms will not be avaliable. I believe the solution is to rebuild the package with this option set, but it's something

[2019-06-27 08:05] shrinidhi99 opened #12 "jniLibs"
When i build the project having this library in the build gradle, the native compiled code (.so) files are generated and the apk size goes up. How can i restrict that from happening?

[2019-07-05 06:31] yeshuinfrrd opened #13 "stitching module is not included"
using any methods related to stitching throws undefined symbol error

[2019-07-10 04:24] huy-t opened #14 "How can include *.h and *.cpp file in cpp file"
When I include openCV in normal way, I can access cpp and h file by using this config in CMakeLists.txt

include_directories(../../../../openCV410/native/jni/include)

and in my cpp file:

#include <opencv2/opencv.hpp>
#include <opencv2/core/core.hpp>
#include <opencv2/imgproc/imgproc_c.h>

how can I use it when use you lib?

[2019-07-24 16:37] iamareebjamal commented on #12
Use ABI splits, or generate app bundle or don't use OpenCV

[2019-07-24 18:20] iamareebjamal commented on #9
You can try this - https://jitpack.io/#iamareebjamal/opencv-android/4.1.1-pre-contrib

However, this is not exactly 4.1.0 + contrib. This contains some more commits from 4.1.1 pre release. Because the oldest package present on the build farm was from 24th June

[2019-07-25 07:40] sellmair commented on #9
Version 4.1.0 with contribution packages should be available now:
`com.quickbirdstudios:opencv:4.1.0-contrib`

[2019-07-25 07:40] #9 closed

[2019-07-25 07:41] sellmair commented on #13
This is just a repository collecting builds of opencv for android and pushinig them to bintray/jcenter. Please post your issue to the official opencv issue tracker!

[2019-07-25 07:41] #13 closed

[2019-07-25 07:43] sellmair commented on #11
Hmm, thanks for raising awareness for this issue. I will talk back with my colleagues to check whether or not we can push a build with that option as well!

[2019-07-25 07:44] sellmair commented on #10
Have you initialized openCv properly?
Example:
[code]

[2019-07-25 07:45] #6 closed

[2019-07-25 07:47] sellmair commented on #5
Version 4.1.0 with contribution packages is now online. Face module is included!

[2019-07-25 07:47] #5 closed

[2019-07-25 07:48] sellmair commented on #12
Unfortunately

[2019-07-25 07:48] #12 closed

[2019-07-27 19:55] iamareebjamal commented on #14
I don't think you can. aar contains compiled binaries, whereas you need source files which only exist in sdk. I maybe wrong though. I have no experience with NDK and native builds

[2019-07-29 11:37] jodrescher commented on #11
I'am also interested in this feature. Please add it.

[2019-08-04 20:20] #10 closed

[2019-08-06 11:41] RaimundWege opened #15 "Saliency contrib module is missing"
Is there a reason why some modules are missing? I was looking for the [saliency module](https://github.com/opencv/opencv_contrib/tree/4.1.0/modules/saliency) in the android `opencv:4.1.0-contrib` but I can't find it.

[2019-08-16 21:20] willemgrier opened #16 "Implementing 'face' for android app"
**Issue 1:** face package not recognized in opencv:4.1.0
implementation 'com.quickbirdstudios:opencv:4.1.0'
implementation 'com.quickbirdstudios:opencv:4.1.0-contrib'

error: package org.opencv.face does not exist
error: cannot find symbol class FaceRecognizer  

**Issue 2:** model.read() function not seeing file (returns null pointer error)
--> I am trying to read a saved YAML model and load it i

[2019-08-26 05:45] sybrin-innovations opened #17 "Understanding the project structure"
Hi,

I have managed to successfully add the package to one of my project and all seems well. I really appreciate the effort that went into creating this repo.

I would just like to understand how it works. For instance, for a test i downloaded the repo and manually added one of the openCV modules to my android project. Everything build find and I can find the openCV functions however when i run th

[2019-09-26 09:03] sellmair commented on #14
You can't access the native source files like when using our builds directly. What are you trying to do, maybe I can help you in another way?

[2019-09-26 09:03] #14 closed

[2019-09-26 09:09] sellmair commented on #17
Hey, if the question is still relevant:
Would you mind posting the full stacktrace that is linked to "No implementation found for openCV". Also: Is "Unable to load OpenCV" printend?
In theory, I cannot see a reason why manually adding the project should behave differently. Would you mind sharing your build files with me?

[2019-09-26 09:31] sellmair commented on #15
I think some special modules have requirements to the build environment that we can't fulfill. Help is welcome here, if anyone plans to build those 👍

[2019-09-26 09:37] sellmair commented on #16
Please create separate GitHub issues for each "issue" next time 👍

*Issue 1*:
You should not implement both dependencies:

[code]

Can you try, if that fixes your issue?

*Issue 2*:
The sample snippet does show that you crate the `model` anywhere.

[2019-09-26 09:42] sellmair commented on #11
We thought about this and came to the conclusion, that we will not build "non-free" modules for legal reasons. If you need any advice on how to build this on your own, you can hit us up!

[2019-09-26 09:42] #11 closed

[2019-09-28 02:09] willemgrier commented on #16
Removing the first dependency did not work.
For creating the model, the constructors are protected. Is there a work-around for this issue?

FaceRecognizer model = new FaceRecognizer(long); // the constructor has protected access in "org.opencv.face.FaceRecognizer"

[2019-10-07 11:43] RaimundWege commented on #15
I can build it now with `cmake` and without any issues. But the process to setup `cmake` was painful. For now I'm building my own custom OpenCV 4.1.0 for arm7, arm64, x86 and x86_64. I had to go this way because our library needs also to be as small as possible. If you like you can close this issue now.

[2019-10-08 20:41] #15 closed

[2019-10-08 20:42] #17 closed

[2019-10-26 21:52] goatchurchprime opened #18 "Gradle sync failed and then fails to load"
The error I started with was here:

[code]

It seemed like it had to do with the line in the file opencv4_1_0_contrib/build.gradle
[code]

The repository https://github.com/dcendents/android-maven-gradle-plugin (which might have something to do with this) says:

Naively replacing the above with the line `apply plugin: 'com.github.sky-uk.gradle-maven-plugin'` didn't work.

Working from the other en

[2019-11-04 11:31] rostopira opened #19 "Unable to fill rectangle"
I'm trying to fill rectangle with white color
[code]
This draws white border of rectangle
-1 is `CV_FILL` afaik
I'm using version 3.4.1

[2019-11-19 02:45] leveychen opened #20 "Program type already present: org.opencv.BuildConfig"
[code]

[2019-11-19 08:50] sellmair commented on #20
Did you include another OpenCV dependency, somewhere in your project tree?

[2019-11-19 08:51] sellmair commented on #19
This repository is just building OpenCV and providing the builds. Please post this issue to the official OpenCV issue tracker.

[2019-11-19 08:51] #19 closed

[2019-11-19 08:55] sellmair commented on #16
I never worked with the FaceRegognizer API's so you might want to ask your questions on the official OpenCV forum. I am sure you can expect help relatively quickly.

[2019-11-19 08:55] #16 closed

[2019-11-22 08:32] leveychen commented on #20
Android Studio  caches bug, gradlew clean, invalidated caches / restart ide and reboot pc.  fixed

[2019-11-22 08:32] #20 closed

[2020-01-11 17:28] litoco opened #21 "Explanation needed for loading "haarcascade_frontalface_alt.xml" classifiers into the android studio"
Hey, first of all thanks for this library. I was hopeless that I could successfully integrate opencv into android studio. But fortunately, I found this and now I have successfully added opencv into my project.
I am new to opencv and don't have any idea how to load "haarcascade_frontalface_alt.xml"  into the android studio. Although I have successfully created CascadeClassifier object and on callin

[2020-01-21 16:47] zzxjl1 opened #22 "No implementation found for long org.opencv.dnn.Dnn.readNetFromDarknet_0"
`java.lang.UnsatisfiedLinkError: No implementation found for long org.opencv.dnn.Dnn.readNetFromDarknet_0(java.lang.String, java.lang.String) (tried Java_org_opencv_dnn_Dnn_readNetFromDarknet_10 and Java_org_opencv_dnn_Dnn_readNetFromDarknet_10__Ljava_lang_String_2Ljava_lang_String_2)
        at org.opencv.dnn.Dnn.readNetFromDarknet_0(Native Method)
        at org.opencv.dnn.Dnn.readNetFromDarknet

[2020-01-21 16:50] sellmair commented on #22
Which version?
Are you loading the library with `OpenCVLoader.initDebug()`?
Are you using the artifacts from jcenter or did you include our Gradle module directly?

[2020-01-21 16:51] zzxjl1 commented on #22
Which version? Are you using the artifacts from jcenter or did you include our Gradle module directly?
implementation 'com.quickbirdstudios:opencv:3.4.5'
Are you loading the library with OpenCVLoader.initDebug()?
Yes.

[2020-01-21 16:52] zzxjl1 commented on #22
Thanks for the quick response.

[2020-01-21 17:22] zzxjl1 commented on #22
Sorry, my bad putting`OpenCVLoader.initDebug()` in  `onResume()`, problem is solved after moving that line inside the `onCreate()` function. But there is still one problem. I tried to place my .weights inside assests folder and it seems doesn't support that.

[2020-01-22 11:58] sellmair commented on #22
Will try to reproduce this

[2020-01-22 11:58] #22 closed

[2020-01-23 18:37] friederbluemle opened #23 "Huge repo"
I just stopped a fetch operation after downloading 300+MB (it was not finished yet). Checking the commit log here on GitHub I noticed more than half a million lines of code and lots of binaries were pushed with the latest commit on master (6294885)

    1,106 changed files with 692,519 additions and 80 deletions

Without knowing the exact details, I was wondering if a different solution is possibl

[2020-01-28 07:54] badadin opened #24 "No implementation found for imread_1"
I get this:
`java.lang.UnsatisfiedLinkError: No implementation found for long org.opencv.imgcodecs.Imgcodecs.imread_1(java.lang.String) (tried Java_org_opencv_imgcodecs_Imgcodecs_imread_11 and Java_org_opencv_imgcodecs_Imgcodecs_imread_11__Ljava_lang_String_2)`

when trying to execute `Imgcodecs.imread( imagePath )` (org.opencv.imgcodecs.Imgcodecs)

Dependencies:
[code]

Tried both:
`OpenCVLoader.

[2020-01-28 07:56] sellmair commented on #24
Does the same happen when using the jcenter artifacts?

[2020-01-28 08:02] badadin commented on #24
Tried now with:
`implementation 'com.quickbirdstudios:opencv:4.1.0-contrib'`
the answer is yes, the same happening :(

[2020-01-28 09:33] badadin commented on #24
It works with 3.4.4 version. Version 4.1.0 has strange size:

![image](https://user-images.githubusercontent.com/23579911/73251601-ae370380-41d2-11ea-8056-8675184a523a.png)

3.4.4 is 116 Mb and 4.1.0 is 74 Mb.

[2020-01-28 09:33] #24 closed

[2020-02-04 13:40] zzxjl1 commented on #11
Hi there, i would appreciate that if anyone can offer me  a totourial. Thanks!

[2020-02-12 15:44] jacobg opened #25 "Why was MIPS removed in version 4?"
I noticed that `mips` and `mips64` were removed in version 4. Why is that?

[2020-02-14 07:07] fmatulic opened #26 "Please add OpenCV 4.2.0 (with contrib packages)"
Thank you.

[2020-04-24 09:23] Valby500 commented on #26
Is it possible to make the latest version 4.3.0 with contrib instead of 4.2.0? SIFT and SURF have had their patent expired recently and this has been corrected according to the release notes.

[2020-04-30 15:31] jeffreyfjohnson opened #27 "Use OpenCV from Native (C++) Code"
I have a C++ file for my Android project that uses OpenCV. Previously, I just imported all of OpenCV Java into my project as a local module, and used the library that way from my C++ file. I would like to use the Gradle dependency provided here, but I'm having trouble setting it up so that my C++ file can use OpenCV.

What do I need to do, either in my `build.gradle`, or `CMakeLists.txt` files to

[2020-04-30 16:06] maltebucksch opened #28 "Test"

[2020-04-30 16:08] #28 closed

[2020-05-15 22:41] nasirky commented on #27
Hey @jeffreyfjohnson. Thank you for your interest in our repo and for posting your question. However, we would need more information before we are able to answer:

1. I assume that have a mix project (C++ & Java) which implies you are using the NDK?
2. Can you share a bare minimum project (with a setup similar to yours) that I can check out?

[2020-05-15 22:42] nasirky commented on #25
@jacobg Because OpenCV 4.0 removed support for `mips` and `mips64`

[2020-05-15 22:43] nasirky commented on #26
@fmatulic and @Valby500 : Thank you for your interest in our repo. It is on our TODO list and would be tackled soon.

[2020-05-15 22:44] nasirky commented on #18
@goatchurchprime Thank you for taking interest in our repo. I am really sorry that we could not get back to you earlier. Are you still facing this issue and interested in a solution. If so, we would be glad to help.

[2020-05-15 23:02] nasirky commented on #21
@litoco Thank you for taking interest in our repo. Can you please give the following information:

1. Where are you putting the xml file?
2. Why are you using object.load and not the CascadeClassifier constructor?

[2020-05-15 23:10] nasirky commented on #23
@friederbluemle Thank you for taking interest in our repo. One way would be to perform a shallow clone. In the near future, there is nothing planned to take care of this issue, however, if you have any ideas, feel free to share.

[2020-05-20 14:19] MohiuddinM commented on #26
@nasirky 4.3.0 is also out can you just add that instead of 4.2.0 (I think OP will also be fine with it)

[2020-05-21 23:20] nasirky commented on #26
@MohiuddinM We are planning to support both 4.2.0 and 4.3.0.

[2020-05-29 08:15] forest-jj opened #29 "Camera crashes"
version: opencv:4.1.0-contrib
Call the camera program to crash

[2020-05-29 16:13] nasirky commented on #29
@forest-jj Can you please elaborate it more.

[2020-06-01 01:10] forest-jj commented on #29
**
There is no extra complicated code, there will be problems when installed on the phone！**

`public class OpenCvActivity extends AppCompatActivity implements CameraBridgeViewBase.CvCameraViewListener2 {
    private CameraBridgeViewBase openCvCameraView;

    private static final String TAG = "OpenCvActivity";
    private Mat mRgba; //
    private Mat mGray;

    @Override
    protected void onCr

[2020-06-06 14:52] elijaelt opened #30 "Tracker Crashes"
**Hello,
I am using the  'com.quickbirdstudios:opencv:4.1.0-contrib' version.
I wrote a simple program that uses the TrackerCSRT, but i can't get it working right.**

**It crashes with:**
E/cv::error(): OpenCV(4.1.0) Error: Assertion failed (0 <= roi.x && 0 <= roi.width && roi.x + roi.width <= m.cols && 0 <= roi.y && 0 <= roi.height && roi.y + roi.height <= m.rows) in Mat, file /Users/sellmair/Sou

[2020-06-07 06:18] nasirky commented on #30
Hi @elijaelt. Thank you for posting your questions/issue.

`0 <= roi.x && 0 <= roi.width && roi.x + roi.width <= m.cols && 0 <= roi.y && 0 <= roi.height && roi.y + roi.height <= m.rows`

The above error that you are getting suggests that (at least 1 point) of the area of interest is outside the image. As you have mentioned in the code that the following line causes the crash:

`tracker.init(mRgba,

[2020-06-07 06:21] nasirky commented on #29
@forest-jj Can you try using OpenCV 4.0.0 to check if the crash still occurs? Can you also post a sample project that I can use to reproduce this issue?

[2020-06-07 06:22] nasirky commented on #27
@jeffreyfjohnson I would close this issue now. Please feel free to open a new issue if you still need help.

[2020-06-07 06:22] #27 closed

[2020-06-07 06:22] nasirky commented on #23
@friederbluemle  I would now close this issue.

[2020-06-07 06:22] #23 closed

[2020-06-07 06:23] nasirky commented on #21
@litoco I would now close this issue. Please feel free to open a new issue if you have any questions (please don't forget to answer the above questions when you report a new issue on the same topic).

[2020-06-07 06:23] #21 closed

[2020-06-07 06:24] nasirky commented on #25
@jacobg I would now close this issue.

[2020-06-07 06:24] #25 closed

[2020-06-07 06:25] nasirky commented on #18
@goatchurchprime I would now close this issue. If you still need help, please open a new issue.

[2020-06-07 06:25] #18 closed

[2020-06-07 06:40] friederbluemle commented on #23
Sure, thanks @nasirky for getting back here and the suggestion! 👍

[2020-06-07 10:07] jacobg commented on #25
@nasirky Thanks very much for your reply. Much appreciated.

[2020-06-07 17:14] elijaelt commented on #30
Hi,

1. This is strange, because as i mentioned in my post, i can see the selected area on top of the image.

2. As you requested for the example `mRgba` and the `screenSelectionArea` before the app crashes:
Coded in onCameraFrame function:
[code]
Get values:
[code]

for `screenSelectionArea` values:
[code]

If you have any experience with this tracking method, it will be great if you could post a

[2020-06-25 08:39] konovalov-k commented on #26
@nasirky Greetings!
How can I inject contrib modules in OpenCV basic release?
Can you provide some link to tutorials or please help me understand the actions you did for this awesome build?)
(basic 4.1 OpenCV lib -> black box > lib with contrib 4.1 OpenCV lib)

[2020-07-16 11:29] nasirky commented on #26
@konovalov-k We already have v4.1 of openCV with contributions. Please use the following to integrate in your android project:

` implementation 'com.quickbirdstudios:opencv:4.1.0-contrib'`

Please note that we just released v4.2.0 and 4.3.0

[2020-07-16 11:30] nasirky commented on #26
@fmatulic @Valby500 @MohiuddinM

We have just released v4.2.0 and v4.3.0 (with and without the contribs). Please see the README page for details.

[2020-07-16 11:30] #26 closed

[2020-07-16 11:31] nasirky commented on #29
@forest-jj Can you try OpenCV 4.2.0 or 4.3.0 to see if this issue still occurs? I am closing this issue but feel free to open a new issue if there is the same issue with 4.2.0 or 4.3.0

[2020-07-16 11:31] #29 closed

[2020-07-16 11:32] nasirky commented on #30
@elijaelt This issue might occur even if the calculations are off by a pixel. Maybe in the case of the crash, 1 pixel is outside the ROI?

[2020-07-16 11:32] nasirky commented on #30
@elijaelt Can you try with the latest version of openCV and let me know if it works for you?

[2020-07-16 14:27] MohiuddinM opened #35 "4.3.0 release doesn't support TEngine?"

[2020-07-16 15:11] nasirky commented on #35
As described in [here](https://opencv.org/arm/), OpenCV 4.3.0's DNN make use of Tengine library on ARM. DNN modules are a part of both our v4.3.0 and v4.3.0-contrib so it is supposed to work (as per OpenCV)

[2020-07-16 16:47] elijaelt commented on #30
Hi @nasirky
The pixel is not out of the ROI.
When i shifted to MOSSE algorithm, it works great, so i stayed with it . . .

What changes did you do on the latest build to fix it?
I'll try the new version in the upcoming days and will let you know...

[2020-07-16 17:36] nasirky commented on #30
@elijaelt You can find the change log for v4.3.0 [here](https://github.com/opencv/opencv/wiki/ChangeLog#version430)

[2020-07-16 17:54] nasirky commented on #30
@elijaelt Please note that we are in no way associated with the official OpenCV (as well as contribution) projects. This repository (and the maven based distributions) are created to assist other developers like us to easily use OpenCV (with contributions) in Android projects.

[2020-07-17 15:33] amrkamal123 opened #36 "opencv give me black screen"
i already implementation opencv
and it initialize successfully but JavaCameraView give me black screen

Mainfest
`    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
`

so pls someone help

[2020-07-17 16:40] elijaelt commented on #30
@nasirky
I tried the latest versions 4.2.0-contrib and 4.3.0-contrib and the preview screen is not working...
I get a black screen.
I tried :
JavaCameraView
CameraBridgeViewBase

Something went wrong on the last builds.

[2020-07-22 15:11] critt opened #37 "Use in mixed C++/Java projects"
I have been trying to see if it is possible to use this library in a mixed Java/C++ project using the ndk and cmake. I am under the impression that the ndk and cmake are required in this scenario, even though you guys say you don't need it to use this library. For example, it seems that something like `target_link_libraries` in `CMakeLists.txt` is required in order to link opencv libraries with on

[2020-07-22 15:32] critt commented on #27
#37 I opened a new issue about this with hopefully more detail

[2020-08-20 19:52] KerronXR opened #38 "Screen Orientation"
When i run an OpenCV (4.3.0) i have this orientation issue when the picture is always flipped 90deg to the left no matter what is the actual camera orientation. After storming the net i found out that everyone has it.

There seems to be a fix for it:

[https://gist.github.com/heaversm/63e8036af6a124aecf3b26898bd2a0ad#file-opencv-portait-camera-android-java](url)

Full explanation here: [https://he

[2020-08-25 09:47] tassilo-posegga opened #39 "Javadoc"
Hi,

I really like the easy way to integrate openCV, but not having any Javadoc at all is really making me struggle (as also I'm pretty new to openCV). Any way you can integrate existing docs into the lib?

Cheers

[2020-08-25 11:34] nasirky commented on #39
@tassilo-posegga Thank you for your interest in the repo. I will come back to you about integrating the existing docs into the lib some time next week.

[2020-08-30 22:16] nasirky commented on #30
@elijaelt are you sure you have the right permissions?

[2020-09-04 15:31] elijaelt commented on #30
@nasirky
What permissions i need to check ?
The camera preview works great on 4.1.0-contrib build.
Did you try the newer versions ?

[2020-09-08 20:55] nasirky commented on #30
You need to check the runtime permissions. Referring one of my comments on another issue:

We do not use the preview in our projects as we are using OpenCV in a different way and it works fine in 4.3.0-contrib. Can you share a minimal version of your project so that I can try it out on my end.

[2020-09-10 14:12] elijaelt commented on #30
Hi,
I use permissions.
Try this code as a minimal version of the project:
[https://drive.google.com/file/d/1uIG1y-gmQRjK0HI0EQK-foJgZcQU2E-M/view?usp=sharing](url)

It works fine with 4.1.0-contrib and with the TrackerMOSSE class.
I have marked out irrelevant code for this demo.

Good luck :-)

[2020-09-18 04:41] Balasnest opened #40 "How can I use the forked repo in my own project?"
Need an help:
I have forked this repo and modify camera orientation. Also tried publish gradle using **jitpack** from forked one. But the problem is when I run the app, getting error saying `OpenCV error: Cannot load info library` for OpenCV when below code is executed.

[code]
Error Logs:
[code]
reference: [link](https://stackoverflow.com/questions/63926310/how-can-we-fork-opencv-android-repo-and

[2020-09-22 16:20] MichHighlander opened #41 "xfeatures2d algorithm not implemented"
Hello,
i wanted to check the feature2d functions of OpenCV, i am using the contrib_3.4.4 pack.
When i tried to use:

SURF detector = SURF.create(hessianThreshold, nOctaves, nOctaveLayers, extended, upright);

i got this error:

CvException [org.opencv.core.CvException: cv::Exception: OpenCV(3.4.4) /build/3_4-contrib_pack-contrib-android/opencv_contrib/modules/xfeatures2d/src/surf.cpp:1029: error:

[2020-09-23 07:33] #41 closed

[2020-09-24 07:13] fdegarne opened #42 "Gradle Package too heavy"
Hi,

I dowloaded via gradle the 4.3.0 package and first of all, good job guys !

I just have a little issue.
With this package my apk is overweighted (20Mo before to 130Mo now).
I wonder if there's any way to exclude packages i don't need (or include only those i need) via gradle ?
For instance I just need those 5 packages :

`import org.opencv.core.Mat;
import org.opencv.core.Size;
import org.ope

[2020-09-29 21:25] cannizarro opened #43 "Aruco is not found."
Can't import aruco package from opencv.

[2020-09-29 21:29] #43 closed

[2020-10-02 23:18] critt commented on #37
Yeah I have the JNI wrapper complete, and a bunch of native code with opencv dependencies. From your response, this is the part i'm wondering about:

`You would need to make sure openCV compiles with your C++ files`

Is it possible do that with this library? The most common way (and the way I am used to) to do this is with CMake, which I described in my question. Is there a way to provide my c++ f

[2020-10-12 22:22] nasirky commented on #42
@fdegarne Sorry for taking some time to get back to you.

One way would be to use Gradle's `exclude` to exclude any packages that you don't need. Another way would be to compile opencv from source with just these packages included.

[2020-10-12 22:24] nasirky commented on #40
@Balasnest Sorry for taking some time to get back to you.

As far as I can tell, you are using 3.4 version of OpenCV. Can you try the latest one 4.3 and let us know if you are still facing the issue.

[2020-10-12 22:25] nasirky commented on #39
@tassilo-posegga Sorry it is taking some time. Please give me another couple of days.

[2020-10-12 22:26] nasirky commented on #36
I am closing this issue now. Please open a new one if the issue still persists.

[2020-10-12 22:26] #36 closed

[2020-10-12 22:27] nasirky commented on #37
@critt I am afraid you would need to compile opencv yourself for your use case.

[2020-10-13 20:54] critt commented on #37
@nasirky thought so. Thanks for the library and thanks for the response!

[2020-10-14 08:34] duchieu1307 commented on #42
Hi @nasirky ,
Could you describe more detail, how to compile opencv from source with only needed mudule?
In my particular case, I need to use only Ximgproc.thinning(src, src);
Thanks

[2020-11-02 15:03] thelittlefireman opened #44 "Opencv 3.4.12"
hi,
could it be possible to get opencv 3.4.12 (october 2020) to keep minapi to 14 (vs 21 for opencv > 4.0.1) ?

Thanks :)

[2020-11-21 21:47] maralbek opened #45 "OpenCV – 4.4.0 contrib release"
Hi! When are you planning to release OpenCV – 4.4.0 contrib? I want to use tiny YOLOv4 model on my android app but currently available contrib versions do not support this YOLO version.

[2020-11-22 11:06] nasirky commented on #45
Hi

It is in the pipeline and will be available in the next few weeks.

[2020-11-22 11:07] nasirky commented on #30
Hi @elijaelt
Sorry I couldn't find time earlier. I will try to check it this week.

[2020-11-22 11:08] nasirky commented on #37
@critt I will close the issue. However, if you need any help when compiling it yourself, fee. free to contact us.

[2020-11-22 11:08] #37 closed

[2020-11-22 11:09] nasirky commented on #38
@KerronXR An update: It is still in the pipeline for internal discussion. I will update you as soon as I can.

[2020-11-22 11:11] nasirky commented on #40
@Balasnest I will now close this issue. Please open a new issue when you try out 4.3 and you still face the issue.

One solution that might work is to manually install ffmpeg on your system.

[2020-11-22 11:11] #40 closed

[2020-11-22 11:13] nasirky commented on #42
@duchieu1307 I will soon share a link on how to do it yourself.

[2020-11-22 11:14] nasirky commented on #44
@thelittlefireman I have noted down your request and will discuss it internally. there is a high chance that we also build the lastest 3.4

[2020-11-24 17:51] #45 closed

[2020-12-11 16:22] Adrien-Moreau-Flat opened #46 "Opencv 4.5.0"
Hello,

I was wondering if you guys could add OpenCV 4.5.0, because they changed the license, added optimizations and a bunch of other things since 4.3.0 ?

Moreover maybe you could make a tutorial to explain how you did this with jcenter, maybe a bot could be made to do it automatically (if it's not already the case ^^)

Thank you and have a nice day :)

[2020-12-15 12:39] Nunocky opened #47 "Request: C++ header files"
I have been using OpenCV that I built myself, but after finding this project, I would like to use this library.

My code to access OpenCV is written in C++, so I need those header files, but unfortunately this library doesn't provide them.

For example, https://github.com/tensorflow/tensorflow/ includes C++ headers in aar.

Would you consider including the C++ header files in aar?

Translated with

[2021-01-12 22:31] yagnasrinath commented on #46
@nasirky Thank you for great work. Would you please provide the tutorial or scripts used to build these. Others who use this project can contribute and help you in maintaining, when you are busy.

[2021-01-21 05:28] RandGor commented on #38
Hello! I find out that 3.4.0 works but rotated, 4.1.0 works but rotated, 4.2.0+ are not working. Only black screen in the preview. How to remove 90 deg rotation? I'm searching the answer for 4 days but there are no answer. I guess the best way is to ask the developers, isn't it? :)

[2021-01-21 10:10] nasirky commented on #38
@RandGor @KerronXR Due to the holidays, I was not able to look into this. However, I will try to get a concrete answer for you before end of next week. Sorry for the inconvenience.

[2021-01-25 10:51] ksxkq commented on #42
Could you tell me where the link is？

[2021-01-29 17:26] Balasnest commented on #42
@nasirky I am also facing the same problem. Could you please help us to manage the size constraints?

[2021-02-01 16:09] Balasnest commented on #42
@nasirky I am in need of help as I have a time constraint to release.

Tried excluding from Gradle. But didn't work.
[code]
Would appreciate it if I get any quick resolution or proposals to this. Otherwise have to plan for dynamic feature integration. Waiting for your reply!

[2021-02-10 11:26] thelittlefireman commented on #44
any updates :cry:  ? Thanks :smiley:

[2021-02-18 02:24] ksxkq commented on #42
👀

[2021-03-21 23:54] nasirky commented on #47
Sorry to get back to you so late. Are you using JNI wrappers to access the C++ code in your Android/Java program?

[2021-03-21 23:55] nasirky commented on #46
@Adrien-Moreau-Flat and @yagnasrinath Sorry for the late reply. 4.5.0 is on our list and will be added soon (in the next 2-3 weeks)

[2021-03-21 23:55] nasirky commented on #44
@thelittlefireman Sorry for the late response. I will definitely get back to you on this in the next 1-2 weeks

[2021-03-21 23:56] nasirky commented on #42
@Balasnest Sorry for all the delays. I will get back to you definitely in the next 1-2 weeks.

[2021-03-22 11:34] ANK-VALUES commented on #43
same problem , how do you fix it?

[2021-03-23 13:23] JulianJB commented on #46
Hi @nasirky can I request also support for OpenCV 4.5.1? This version includes the BEBLID local feature descriptor in the **contrib** branch which is pretty useful for performance improvements in keypoint matching applications. Thanks for the effort!

[2021-03-27 07:58] Nunocky commented on #47
I'm using the JNI so file by linking it, but I call the C++ API that exists underlying it. I have confirmed that this is possible with the version 4.1.2 that I built.

The original C++ code was built for Windows + OpenCV 4.1.0 (including contrib), but I was unable to build that version for Android.

That's the reason why I thought it would be useful to have C++ header files included in this projec

[2021-04-05 10:09] mbalyaba commented on #42
As a temporary solution, we can use android abi filters
`    defaultConfig {
        ndk {
            abiFilters "arm64-v8a", "armeabi-v7a"
        }
    }	`
i my case, with abi filters apk size has been reduced from 158Mb to 55Mb. Hope it helps someone.

[2021-04-11 17:35] N-G17 opened #48 "cv::line_descriptor::LSDDetector::detect"
Hye

I am using opencv4_3_0_contrib for a project with Android Studio.
The project uses LSD detector module to extract lines from a given image.
But when I am trying to build the project, I am facing the following error:

error: undefined reference to 'cv::line_descriptor::LSDDetector::detect(cv::Mat const&, std::__ndk1::vector<cv::line_descriptor::KeyLine, std::__ndk1::allocator<cv::line_descript

[2021-05-11 11:50] Shiul93 opened #49 "Error loading library on Android 10+ (cannot locate symbol "_Unwind_Resume")"
Hello!

We have a [fork](https://github.com/mintforpeople/opencv-android) of your repository to use within our project, a educational robot called [Robobo](https://theroboboproject.com/). The fork only adds a new [class](https://github.com/mintforpeople/opencv-android/blob/master/opencv4_3_0_contrib/java/src/org/opencv/android/MyPortraitCameraView.java) that allows using the library in portrait mo

[2021-05-18 07:03] nailshakurov opened #50 "opencv stitcher no found"

[2021-05-24 09:11] yatouxingren opened #51 "if i want to use sift,how can i compile aar on my"

[2021-05-26 04:58] satheesh-agnext opened #52 "detectEdges function from StructuredEdgeDetection class (contrib module) cause crash in app"
I'm using the Gradle dependency "implementation 'com.quickbirdstudios:opencv:4.3.0-contrib'" to use the StructuredEdgeDetection in the android app which is from contrib module. It was working perfectly when I'm using " implementation 'com.quickbirdstudios:opencv:3.4.4-contrib'". But I need to use opencv 4.3.0. Please help

[2021-06-10 14:46] itsmemubeen opened #53 "OpenCV Not Initialized Properly , Application Shutting Down On Android Version 8 and above"

[2021-06-10 15:11] nasirky commented on #53
Thank you for reaching out. Can you please share more information such as crash logs etc.

[2021-06-10 15:13] nasirky commented on #52
Thank you for reaching out. Can you please share the crash log?

[2021-06-10 15:14] nasirky commented on #51
@yatouxingren You can download the source code and then compile that locally on your machine.

[2021-06-10 15:15] nasirky commented on #50
Thank you for reaching out. Can you please share more details?

[2021-06-10 15:16] satheesh-agnext commented on #52
Only log I'm getting is Crash log : A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x71ea04cffc in tid 15939 (Thread-3), pid 15816.
After that app process is killed and not getting any other info. Are the .so files are proper with contrib module ?

[2021-06-10 15:17] nasirky commented on #30
Hi @elijaelt, Sorry it has been quite some time that I didn't get back to you. Were you able to resolve the issue?

[2021-06-23 10:34] Shiul93 commented on #49
Hello!
Do you have any idea about how to approach this problem? We are delaying the release of the app until we fix this and at this point any guidance would be very helpful.

Again, thanks a lot for your work and have a good day!

[2021-07-02 07:54] VincentJoshuaET opened #54 "Use MavenCentral as JCenter will be sunset"

[2021-07-02 07:59] nasirky commented on #54
@VincentJoshuaET This is currently in progress and will be done soon. Thank you for the reminder 😄

[2021-07-02 08:05] nasirky commented on #52
@satheesh-agnext Yes the source files should be fine. We will be releasing a new version of opencv (4.5.2) until end of the next week. I would recommend you try with that and if the crash exists, then we can see what can be done.

[2021-07-02 08:27] nasirky commented on #49
Hi @Shiul93

Thank you for reaching out. I will try to check it next week and get back to you. It seems like a linking issues where some symbol isn't found in opencv.

[2021-07-02 08:27] nasirky commented on #48
@N-G17 Do you get the error while building or linking?

[2021-07-02 08:28] nasirky commented on #47
Why not build opencv from source for android?

[2021-07-02 08:33] nasirky commented on #46
Sorry it took longer than expected. 4.5.2 will be released soon along with 4.5.0 and 4.5.1

[2021-07-02 08:34] nasirky commented on #42
Since @mbalyaba provided a solution to filter out unwanted Abis, I would close this issue.

[2021-07-02 08:34] #42 closed

[2021-07-02 09:46] Shiul93 commented on #49
Thank you! I'll stay alert for you response. Also, I tried to use 4_2_0_contrib and it has the same issue. The reason to move form 4.1 to a newer version was a [bug](https://github.com/mintforpeople/robobo-hri-vision/issues/38) on the Aruco module that caused random crashes and it seems to be fixed on 4.2+

[2021-07-03 05:34] AJV2018 opened #55 "No implementation found for long org.opencv.face.LBPHFaceRecognizer.App crashes"
Crash log
 Process: com.attendanceapp, PID: 26207
    java.lang.UnsatisfiedLinkError: No implementation found for long org.opencv.face.LBPHFaceRecognizer.create_0(int, int, int, int, double) (tried Java_org_opencv_face_LBPHFaceRecognizer_create_10 and Java_org_opencv_face_LBPHFaceRecognizer_create_10__IIIID)
        at org.opencv.face.LBPHFaceRecognizer.create_0(Native Method)
        at org.openc

[2021-07-03 05:41] AJV2018 commented on #55
This crash happens only on arm64-v8a devices

[2021-07-03 06:49] AJV2018 commented on #55
I think the issue is from the opencv_java4.so file in arm64-v8a folder.

2021-07-03 12:14:11.832 24654-24654/? D/OpenCV/StaticHelper: Trying to get library list
2021-07-03 12:14:11.840 24654-24654/? E/OpenCV/StaticHelper: OpenCV error: Cannot load info library for OpenCV
2021-07-03 12:14:11.840 24654-24654/? D/OpenCV/StaticHelper: Library list: ""
2021-07-03 12:14:11.840 24654-24654/? D/OpenCV/Sta

[2021-07-08 19:26] critt commented on #49
I am in a similar position in terms of maintaining my own fork in order to provide opencv dependencies to c++ code in my project. I have recently encountered this issue as well.

I am using 4_3_0_contrib, and this same issue arose for me after updating gradle from 4.0 to 4.1, and the gradle wrapper to 6.5. While using `classpath "com.android.tools.build:gradle:4.0.2"` and `distributionUrl=https\:/

[2021-07-09 10:07] Shiul93 commented on #49
Hi @critt! I tried downgrading both versions and it seems to work, at least on the AVD simulator.
Thanks a lot for your answer!

[2021-07-09 12:58] critt commented on #49
@Shiul93 No problem. I would love to figure out the root cause though so we can update these things.

[2021-07-23 21:20] critt commented on #49
@nasirky any idea what could be behind these build problems with gradle 4.1?

[2021-07-28 17:11] nasirky commented on #55
@AJV2018 That seems weird because this file these are built from the same source which means every architecture should work fine. Can you try changing the device? Can you also tell me which device are you using for testing?

[2021-07-28 17:12] nasirky commented on #51
@yatouxingren We are in the process of compiling a readme that will list the steps need to build OpenCV locally.

[2021-07-28 17:14] nasirky commented on #49
@critt At the moment, I haven't tried it on 4.1 yet. I think I should be able to try it out next week as we are in the process of setting up an alternative for JCenter and Bintray and we are very much focused there. Thank you for your patience.

[2021-07-28 17:15] nasirky commented on #46
@JulianJB @yagnasrinath We are currently in the process of setting up an alternative to JCenter and Bintray. As soon as that is up, we will release the new version of OpenCV. Please stay tuned.

[2021-07-28 22:59] critt commented on #49
@nasirky take your time. This isn't an issue with your library, more just something I'm trying to solve myself and curious if you have any thoughts. Thanks for this project btw, it has made my life much easier and really fills an otherwise frustrating space. Appreciate you guys!

[2021-08-01 09:48] Hamahmi commented on #54
@nasirky Has it been added to MavenCentral yet?

[2021-08-02 17:08] adrianolc opened #56 "OpenCv Manager package not found"
For some devices, we are getting the dialog from the `BaseLoaderCallback` saying that the OpenCV Manager package was not found. This is happening randomly, in some devices it works just fine without popup the dialog.

The dialog also leads to a broken URL on google play to install the service, but this is a problem inside the OpenCV lib, I would say.

It would be nice to see if this is also happen

[2021-08-05 13:29] nasirky commented on #54
@Hamahmi We are hoping to have migrated by end of next week

[2021-08-18 05:33] amarendra commented on #42
@nasirky well that just limits removal of other archs from a build. I guess what people might be interested in knowing is generating smaller .so files limited to only features that are needed from the open cv lib instead of a full .so.

[2021-08-23 06:31] AbdulinRuslan commented on #54
@nasirky Has it been added to MavenCentral yet? :)

[2021-08-23 15:30] nasirky commented on #54
@AbdulinRuslan It is in progress :). Would hopefully be complete in the next few days.

[2021-08-24 08:43] AbdulinRuslan commented on #54
@nasirky I hope so. Waiting for migration <3

[2021-08-24 09:05] nasirky commented on #54
We are actively working on it @AbdulinRuslan :)

[2021-08-24 09:07] nasirky commented on #56
@adrianolc We are currently busy in moving to MavenCentral. Once done, we will release 4.5.3. Can you please then try and let us know if the issue still persists.

[2021-08-24 20:19] nasirky opened #57 "Request for OpenCV Versions"
In case you need a certain OpenCV version, please write it down as a comment to this issue.

[2021-08-24 20:29] nasirky commented on #56
We have just released 4.5.3 via MavenCentral. Please go through the README file on how to integrate it. In case the issue still persists, please let us know.

[2021-08-24 20:29] nasirky commented on #55
We have just released 4.5.3 via MavenCentral. Please go through the README file on how to integrate it. In case the issue still persists, please let us know.

[2021-08-24 20:30] nasirky commented on #54
@AbdulinRuslan @Hamahmi @VincentJoshuaET We have just released 4.5.3 via MavenCentral. Other versions are next in line. Please go through the README file on how to integrate it.

[2021-08-24 20:30] nasirky commented on #53
We have just released 4.5.3 via MavenCentral. Please go through the README file on how to integrate it. In case the issue still persists, please let us know.

[2021-08-24 20:31] nasirky commented on #52
We have just released 4.5.3 via MavenCentral. Please go through the README file on how to integrate it. In case the issue still persists, please let us know.

[2021-08-24 20:31] nasirky commented on #50
Closing this issue as there was no response.

[2021-08-24 20:31] #50 closed

[2021-08-24 20:32] nasirky commented on #48
We have just released 4.5.3 via MavenCentral. Please go through the README file on how to integrate it. In case the issue still persists, please let us know.

[2021-08-24 20:32] nasirky commented on #47
@Nunocky Were you able to resolve the issue?

[2021-08-24 20:33] nasirky commented on #46
We have just released 4.5.3 via MavenCentral. Please go through the README file on how to integrate it. In case the issue still persists, please let us know.

Other versions are next in line.

[2021-08-24 20:33] nasirky commented on #44
@thelittlefireman Sorry for the long wait. We are currently moving to mavenCentral and 3.4.15 is on our list.

[2021-08-24 20:34] nasirky commented on #39
Sorry we got busy in a couple of thing. Do you still need this?

[2021-08-24 20:35] nasirky commented on #30
Closing this issue. Please create a new one if the issue persists.

[2021-08-24 20:35] #30 closed

[2021-08-25 11:03] AbdulinRuslan commented on #57
Hi @nasirky, it will be great if you migrate 3.4.1 version of opencv lib <3

Ty in advance!

[2021-08-29 09:50] nasirky commented on #49
@critt Yes you do need those files are otherwise your program will fail when linking.

@Shiul93 @critt I downloaded the opencv_4.3.0 contrib and tried it on a sample project. Ran it on an emulator with Android 11 and it worked fine. Here are some of the logs

`
2021-08-29 11:37:11.896 9641-9641/com.quickbirdstudios.opencvexample D/OpenCV: OpenCV loaded successfully!
2021-08-29 11:47:44.667 10225-1

[2021-08-29 09:53] nasirky commented on #49
@Shiul93 @critt Is there a possibility to get a sample project where I can reproduce this issue?

Can you also try opencv-contrib 4.5.3 to see if you can reproduce this issue?

[2021-08-31 10:36] Hamahmi commented on #54
@nasirky what about `3.4.5` ?

[2021-08-31 21:09] nasirky commented on #38
I would close this issue now but in case the issue still persist, feel free to open a new issue.

[2021-08-31 21:09] #38 closed

[2021-08-31 21:10] nasirky commented on #54
@Hamahmi 3.4.5 is not currently in our list. However, if you want to request 3.4.5, you can do it under https://github.com/quickbirdstudios/opencv-android/issues/57

[2021-08-31 21:11] nasirky commented on #55
@AJV2018 I will close this issue now. If it still persists in the new releases, feel free to open a new issue.

[2021-08-31 21:11] #55 closed

[2021-09-02 07:10] LeiStoneLi commented on #57
Hello,
it will be great if you could add 4.5.1 version.
I was wondering if you guys could add the compile files to the github project, just like the version opencv4_1_0、opencv4_1_0_contrib、opencv4_2_0、opencv4_2_0_contrib、opencv4_3_0、opencv4_3_0_contrib in this github project?
Thank you and have a nice day :)

[2021-09-03 07:18] nasirky commented on #57
@LeiStoneLi Both 4.5.1 and the sharing of the compiled project is work in progress. 4.5.1 should be available soon while the compiled project will be released until end of next week

[2021-09-03 14:43] nasirky commented on #57
@LeiStoneLi 4.5.1 has been released.

[2021-09-03 14:44] nasirky commented on #54
@Hamahmi 3.4.5 will be released some time in the next 2 weeks.

I am now closing this issue as the migration to MavenCentral is complete. Thank you for your patience.

[2021-09-03 14:44] #54 closed

[2021-09-06 10:37] ahmetturk opened #58 "Version 4.5.3 not working"
`OpenCVLoader.initDebug()` successfully works in versions 4.3.0, 4.4.0, 4.5.0, 4.5.1, 4.5.2.
But it throws an error in version 4.5.3.
The error is `java.lang.UnsatisfiedLinkError: dlopen failed: library "libopencv_info.so" not found`

[2021-09-06 16:32] nasirky commented on #58
@ahmetturk we are aware of this issue but for us it happens in Android 10 but not 11. Can you please share which version does it not work for you? Also are you using the normal one or the one with contributions?

We have already a ticket open at MavenCentral to rewrite the versions

[2021-09-06 16:47] nasirky commented on #58
@ahmetturk The artefacts on MavenCentral cannot be overwritten so we will release a new 4.5.3 version with the fix.

[2021-09-07 08:14] nasirky commented on #58
@ahmetturk Can you please try the recently released version: `4.5.3.0`

[2021-09-07 10:07] nasirky commented on #49
**Fixes**
1. The issue could be reproduced in 4.5.3, so we had to release a new version 4.5.3.0.
2. The issue doesn't exist in any of the other releases.

[2021-09-07 10:07] #49 closed

[2021-09-07 10:07] nasirky commented on #58
@ahmetturk I will close this issue now. In case 4.5.3.0 doesn't work for you, can you please start a new issue?

[2021-09-07 10:08] #58 closed

[2021-09-07 10:08] nasirky opened #59 "Release source for all versions of OpenCV"

[2021-09-15 10:15] Hamahmi commented on #57
`3.4.5`

also, thank you for the great effort

[2021-09-15 16:47] nasirky commented on #57
@Hamahmi 3.4.5 has also been released and is available via MavenCentral.

[2021-09-15 16:47] #57 closed

[2021-11-06 11:12] KapilYadav-dev commented on #56
Hey @nasirky, this issue still persist in some devices.
My Device is honor cor-al00 (Android 9) and app prompt to install some packages which further leads to broken URL.
Using 4.5.3 version as stated above.
Thanks.

[2021-11-19 21:32] MrGVSV opened #60 "GaussianBlur Unknown Exception"
I was using this project without issues for CameraX image analysis, but recently ran into an issue with a new Android device. Updating from `4.1.0` to `4.5.3.0` allowed me to use [this](https://github.com/opencv/opencv/blob/b19f8603843ac63274379c9e36331db6d4917001/modules/java/generator/android-21/java/org/opencv/android/JavaCamera2View.java#L344) function to convert my `ImageProxy` to a useable `

[2021-11-28 05:12] quzn opened #61 "Where can I download the source code?"
"Download the source from your desired release"
Where can I download the source code?
Such 4.5.3.0, Thanks~

[2021-12-31 19:38] cristianoccazinsp opened #62 "Stitcher class missing?"
Looks like the Java interface does not have all of the OpenCV features, any work around it?

[2022-01-18 16:22] alexanderconner opened #63 "OpenCV error: Cannot load info library for OpenCV"
Am I under the correct understanding that by adding this dependency I should be able to use the OpenCV libraries without manually downloading and importing the module from source in Android Studio/Gradle?

I've tried implementing the the normal and contribution versions, as well as older versions, but I am unable to run `OpenCVLoader.initDebug()` (and subsequently cannot use any of the library). D

[2022-01-19 20:59] alexanderconner commented on #63
Ahh figured it out. I had a conflict with this dependency and the source module in my Gradle build file. With the  com.quickbirdstudios:opencv import you do not need to manually import the Open CV source code.  Thanks.

[2022-01-19 20:59] #63 closed, assigned to nobody

[2022-02-15 06:58] joram56 opened #64 "Does this opencv-android implementation include ffmpeg?"
Trying to write to a test video file using video writer as below:

[code]
results in the following error:
[code]

I have read up about it and it seems to happen if opencv was built without ffmpeg. Is that the case for this project?

[2022-02-16 07:15] dineshkandan opened #65 "WechatQR Crashes for other language"
JNI DETECTED ERROR IN APPLICATION: input is not valid Modified UTF-8: illegal start byte 0x82
    java_vm_ext.cc:578]     string: 'This is a Test ��f'
    java_vm_ext.cc:578]     input: '0x54 0x68 0x69 0x73 0x20 0x69 0x73 0x20 0x61 0x20 0x54 0x65 0x73 0x74 0x20 <0x82> 0xf1 0x8b 0x66'
    java_vm_ext.cc:578]     in call to NewStringUTF
    java_vm_ext.cc:578]     from java.util.List org.opencv.wech

[2022-02-16 14:05] neilyoung opened #66 ""Download the source from your desired release.""
Please clarify: Do you mean to download the OpenCV sources?

[2022-02-16 14:05] neilyoung commented on #61
Oh shit. No answer. Having the same question 3 months later :)

[2022-03-10 18:59] shantoahammed commented on #60
I am having the same issue with version 4.5.3.0. Any update on this?

[2022-03-15 06:55] Sathishobs commented on #65
Hi @dineshkandan  I'm also facing similar issue and my app crashes frequently,. I was not able to catch the exception too to handle it.

@nasirky @sellmair @maltebucksch Any code update on issue posted above? Could you guys please assist us how to overcome this blocker and run smooth scanning?

[2022-04-03 02:39] jslok opened #67 "No implementation found for phash"
In 4.5.3.0 and 4.4.0, I am unable to use org.opencv.img_hash.PHash. I get error:

`No implementation found for long org.opencv.img_hash.PHash.create... `

 Same for the other classes under org.opencv.img_hash. I am importing with `implementation 'com.quickbirdstudios:opencv-contrib:4.5.3.0'`

My code:
[code]

I downgraded to 3.4.15 and it works.

[2022-04-13 06:52] nasirky commented on #67
@jslok If I remember correctly, PHash is is only part of the 3.4.X OpenCV versions and not 4.X OpenCV versions.

[2022-04-13 06:54] nasirky commented on #66
@neilyoung Sorry for the late reply. It has been quite busy lately.

We want to upload all the source codes as releases and unfortunately, we haven't done it yet. However, We will try our best to upload them until end of April

[2022-04-13 06:55] nasirky commented on #65
@dineshkandan  @Sathishobs Can you please specify which version of OpenCV are you using?

The error seems like there is non UTF-8 data. Can you try a different code?

[2022-04-13 06:57] nasirky commented on #64
I don't think OpenCV has FFMPEG as a dependency or module. OpenCV expects FFMPEG to be installed on the host machine.

[2022-04-13 06:58] nasirky commented on #62
Since Java Interface uses the C++ implementations, one idea would be to write methods in the JNI file that call the correct C++ methods and then use them.

[2022-04-13 06:58] nasirky commented on #61
@quzn @neilyoung Sorry for all the delays. We wanted to upload the sources but it has been quite busy. We will try to upload them until end of April.

[2022-04-13 07:00] nasirky commented on #60
@MrGVSV @shantoahammed Can you try 4.5.1 or even 4.4.0 to see if you can reproduce the issue there as well.

[2022-04-13 07:23] jslok commented on #67
Oh weird. It is still mentioned in the 4.x documentation and github.
https://github.com/opencv/opencv_contrib/tree/4.x/modules/img_hash
https://docs.opencv.org/4.5.5/df/d4e/classcv_1_1img__hash_1_1PHash.html

[2022-04-13 11:09] neilyoung commented on #61
No problem, solved it since months

[2022-04-13 11:41] nasirky commented on #67
@jslok I can see the java wrapper class in 4.5.2. I will investigate this sometime next week

[2022-04-25 07:24] MrGVSV commented on #60
@nasirky I apologize, but I just recently lost access to my Android equipment so I won't be able to test it :(

[2022-05-10 12:07] nasirky commented on #61
Sources for 3.4.X uploaded (check releases). 4.X.X is next

[2022-05-10 12:07] nasirky commented on #59
Sources for 3.4.X uploaded (check releases). 4.X.X is next

[2022-05-10 12:07] nasirky commented on #66
Sources for 3.4.X uploaded (check releases). 4.X.X is next

[2022-05-10 12:40] nasirky opened #68 "Upload 4.X.X releases"
All the 4.X.X releases are much greater than the 2GB allowed by Github. We need to figure a way to upload those releases.

[2022-05-10 12:41] nasirky commented on #66
Please see https://github.com/quickbirdstudios/opencv-android/issues/68

[2022-05-10 12:41] #66 closed, assigned to nobody

[2022-05-10 12:41] nasirky commented on #59
Please see https://github.com/quickbirdstudios/opencv-android/issues/68

[2022-05-10 12:41] #59 closed

[2022-05-10 12:41] nasirky commented on #61
Please see https://github.com/quickbirdstudios/opencv-android/issues/68

[2022-05-10 12:41] #61 closed, assigned to nobody

[2022-05-10 12:42] nasirky commented on #62
I am going to close this issue. Can you please create a new issue in case you are still facing this issue.

[2022-05-10 12:42] #62 closed, assigned to nobody

[2022-05-10 12:42] nasirky commented on #65
I will close this issue now. Please feel free to open a new issue in case the issue still persists.

[2022-05-10 12:42] #65 closed, assigned to nobody

[2022-05-10 12:43] nasirky commented on #64
Closing this issue. Please feel free to open a new issue in case you need any help.

[2022-05-10 12:43] #64 closed, assigned to nobody

[2022-05-10 12:44] nasirky commented on #60
@MrGVSV I am sorry :( . I will close this issue and if you face any issue in the future, please feel free to open a new issue.

[2022-05-10 12:44] #60 closed, assigned to nobody

[2022-05-11 16:11] hariangr opened #69 "Wrong camera orientation preview"
When running the `tutorial-1-camerapreview` sample, the orientation of the camera is 90 degrees offsetted

![image](https://user-images.githubusercontent.com/18433715/167896974-d9b80745-e615-40dd-964c-56814891a19c.png)
(The pen should be vertical)

Any chance you got good solutions for them? Thanks

[2022-05-12 06:44] nasirky commented on #69
@hariangr Can you share the following information
- which version of OpenCV are you using?
- Does it work fine on another version of OpenCV?
- Did you try any other examples

As far as I know, this is the correct behaviour (as the 0,0 of OpenCV and the screen are at 90 degrees to each other)

[2022-05-12 08:25] hariangr commented on #69
I am using com.quickbirdstudios:opencv-contrib:4.5.3.0, I haven't really tried in any other version, the code for displaying in all example is the same (CvCameraViewListener2.onCameraFrame) I would assume they all behave the same

And yes, it does seems like that's the default behavior, I watch some youtube videos and the camera is also rotated 90 degree

I saw some solution that include changing

[2022-05-12 10:01] nasirky commented on #69
If I remember correctly, we also sometimes used to rotate by 90 degrees but then we changed our algorithm to work with OpenCV's orientation as most of the other image processing operations were also performed in OpenCV.

[2022-05-12 10:01] #69 closed, assigned to nobody

[2022-05-14 00:43] hariangr commented on #69
Any chance you can provide some hint on how to do this properly since I can't edit the source when using this library

I'm new to native android development, thank you for understanding

[2022-05-16 05:01] nasirky commented on #69
You can use OpenCV's functions to rotate the image

You can use one of these

- `rotate`
- `imutils.rotate`
- `imutils.rotate_bound`

Please note that when using the `rotate` methods, parts of the image could be cut off. `rotate_bound` basically rotates the whole plane of the image.

[2022-06-23 11:07] DarkApocalypse opened #70 "Bad argument in reshape"
I made an android app using this repertory.
My code is on this repertory: [https://github.com/DarkApocalypse/QRCode](https://github.com/DarkApocalypse/QRCode)
It work pretty fine excepted some troubles.I test my app with:
![qrcodes](https://user-images.githubusercontent.com/5462473/175284606-b431e68d-eb60-4bff-9f33-4de544ec45e2.png)

i crash randomly and get this error.

Someone can explain me wha

[2022-07-08 14:37] JrivasK opened #71 "Not support armeabi"
E/cv::error(): OpenCV(4.5.3) Error: Requested object was not found (could not open directory: /data/app/com.kosmos.core-O7vJOOg0R_MMggssb_hmhA==/base.apk!/lib/armeabi-v7a) in glob_rec, file /home/quickbirdstudios/opencv/releases/opencv-4.5.3/modules/core/src/glob.cpp, line 279
2022-07-08 09:18:02.782 3827-3827/com.kosmos.core E/cv::error(): OpenCV(4.5.3) Error: Requested object was not found (coul

[2022-09-19 20:08] kmewhort opened #72 "Support for v4.5.5"
I'd love to see support for v4.5.4 and/or v4.6.0 (namely to re-access the LineSegmentDetector module that now has the license issues sorted out).

Happy to help out, though I'd need a few more details on the build pipeline.

[2022-10-25 14:06] felixdittrich92 opened #73 "Support for 4.6.0 / Setup guide"
Hey @nasirky  :wave: ,

thanks a lot for providing this.
I would ask how it looks with an update to 4.6.0 (related to an dnn module issue < 4.6.0) ?
Or any guide i could use to create a maven repo for this ? :sweat_smile:

Thanks in advance !

[2022-10-27 12:21] felixdittrich92 commented on #73
ok solved it on my own :sweat_smile:

[2022-10-27 12:21] #73 closed, assigned to nobody